.header_main
{
    padding: 0px 0px 25px 0px;
}
.header_search_input
{
    padding: 8px 12px;
    width: 100%;
    border: none;
    font-family: var(--inter-text);
    font-size: 1rem;
    letter-spacing: 0.020rem;
    color: var(--black-200);
    font-weight: 600;
    background-color: var(--black-700);
    border: 1px solid var(--black-700);
    border-radius: 20px;
    transition: 0.5s all ease-in-out;
}
.header_search_input::placeholder {
    font-size: 0.9rem;
    color: var(--black-400);
    font-weight: 500;
}
.header_search_input:hover {
    border: 1px solid #FC5C7D;
}
.header_search_input:focus {
    outline: none;
    border: 1px solid #FC5C7D;
}
.header_search_icon_container {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: var(--black-700);
}
.header_search_icon {
    width: 18px;
    height: 18px;
    color: var(--black-500);
}
